footer {
    text-align: center;
    background: url("C:/Users/Pedro/Downloads/HTML e CSS/HTML e CSS 2/img/bg.jpg");
    padding: 40px 0;
    
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}